# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/smart_lock
DATABASE_URL_SYNC=postgresql://postgres:postgres@localhost:5432/smart_lock
#SUA MAT KHAU VA DTB

# JWT
SECRET_KEY=change-me-to-a-long-random-string
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# MQTT
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

# App
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
DEBUG=true
